@page "/checking-list"
@inject IProjectServiceClient ProjectService

<h3>CheckingList</h3>


@foreach (var item in ProjectService.CheckingList.GroupBy(x => x.Category))
{
    <hr />
    <h4>@item.Key.ToUpper()</h4>
    <ol class="list-group">
        @foreach (var item2 in item)
        {
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <span>@item2.Title</span>
                <span>@item2.Priority</span>
            </li>
        }
    </ol>
}


@code {
    protected override async Task OnInitializedAsync()
    {
        await ProjectService.GetCheckingList();
    }
}
