@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello!</h1>

<div class="text-center">
    <h2>To Do</h2>
    <ol>
        <li>Data i czas w encjach</li>
        <li>dodac MudBlazor</li>
        <li>Inicjaly, kto co zrobil.</li>
        <li>importowanie obrazow</li>
        <li>dodac progress bary</li>
        <li>dodac wykresy</li>
    </ol>
</div>

<SurveyPrompt Title="This is homepage." />
