@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello!</h1>

@*<div class="text-center">
    <h2>To Do</h2>
    <ol>
        <li>Data i czas w encjach</li>
        <li style="text-decoration: line-through">dodac MudBlazor</li>
        <li>Inicjaly, kto co zrobil.</li>
        <li>importowanie obrazow</li>
        <li>dodac progress bary</li>
        <li>dodac wykresy</li>
        <li>drawn by / check by</li>
        <li>many elements like steel beams / dfirs</li>
        <li>dodac toast notif.</li>
        <li>timeline dla checking item</li>
    </ol>
</div>*@

<SurveyPrompt Title="This is homepage." />
