@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello!</h1>

<div class="text-center">
    <h2>To Do</h2>
    <ol>
        <li style="text-decoration: line-through">Data i czas w encjach</li>
        <li style="text-decoration: line-through">dodac MudBlazor</li>
        <li>Inicjaly, kto co zrobil.</li>
        <li style="text-decoration: line-through">importowanie obrazow</li>
        <li style="text-decoration: line-through">dodac progress bary</li>
        <li>dodac wykresy</li>
        <li>drawn by / check by</li>
        <li>many elements like steel beams / dfirs</li>
        <li style="text-decoration: line-through">dodac toast notif.</li>
        <li>data validation dla formularzy</li>
        <li>organize order of check items</li>
        <li>images crud</li>
    </ol>
</div>

<SurveyPrompt Title="This is homepage." />
