@page "/new-project"
@inject IProjectServiceClient ProjectService
@inject NavigationManager NavigationManager

<h3>ProjectCreate</h3>

<EditForm Model="project" OnSubmit="HandleSubmit">
    <div>
        <label>Number</label>
        <InputText @bind-Value="project.Number" class="form-control"></InputText>
    </div>
    <div>
        <label>Name</label>
        <InputText @bind-Value="project.Name" class="form-control"></InputText>
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Submit</button>
</EditForm>

@code {
    Project project = new Project();

    async Task HandleSubmit()
    {
        await ProjectService.CreateProject(project);
        NavigationManager.NavigateTo("/projects");
    }

}
