@page "/error-report/{projectId:int}/{checkItemId:int}"
@inject ICheckingServiceClient CheckingService
@inject ICheckItemServiceClient CheckItemService
@inject NavigationManager NavigationManager
@inject Sotsera.Blazor.Toaster.IToaster Toaster

<div style="display: flex; justify-content:space-between" class="mb-5">
    <MudText Typo="Typo.h5">Checking Process - Error Report</MudText>
    <MudButton Variant="Variant.Outlined" Size="Size.Medium" Color="Color.Primary" @onclick="(() => BackToChecking())">Back to checking</MudButton>
</div>
<hr />
<MudText Typo="Typo.h6">@checkItem.Title</MudText>
<MudForm @ref="form">
    <MudTextField T="string" Label="Error description (not required)" Variant="Variant.Filled" @bind-Value="@newChecking.Description" Lines="3" />
    <InputFile id="uploadImage" OnChange="OnFileChange" hidden multiple accept=".jpg, .jpeg, .png" />

    <div class="mt-2" style="display: flex; justify-content: space-between">
        <div>
    <MudButton HtmlTag="label"
               Variant="Variant.Filled"
               Color="Color.Primary"
               StartIcon="@Icons.Filled.CloudUpload"
               for="uploadImage"
               Class="mt-2">
        Upload images
    </MudButton>
        </div>
    <div>
        @foreach (var image in imagesList)
        {
            <img class="mr-1" src="@image.Data" width="100" height="100" />
        }
    </div>

    <div>
        <MudButton Variant="Variant.Filled" Size="Size.Medium" Color="Color.Error" @onclick="(() => MarkAsError())">Report</MudButton>
    </div>
    </div>
</MudForm>



@code {
    [Parameter]
    public int ProjectId { get; set; }

    [Parameter]
    public int CheckItemId { get; set; }

    CheckItem checkItem = new();
    Checking newChecking = new();
    List<Image> imagesList = new();
    MudForm? form;

    protected override async Task OnParametersSetAsync()
    {
        checkItem = await CheckItemService.GetSingleCheckItem(CheckItemId);
    }

    async Task MarkAsError()
    {
        newChecking.ProjectId = ProjectId;
        newChecking.CheckItemId = CheckItemId;
        newChecking.IsError = true;
        newChecking.IsFixed = false;
        newChecking.IsNA = false;
        newChecking.Images = imagesList;

        await CheckingService.CreateCheckingItem(newChecking);
        Toaster.Success("Error reported");
        NavigationManager.NavigateTo($"/checking/new/{ProjectId}");
    }

    async Task OnFileChange(InputFileChangeEventArgs e)
    {
        var format = "image/png";
        foreach (var image in e.GetMultipleFiles(int.MaxValue))
        {
            var resizedImage = await image.RequestImageFileAsync(format, 1200, 1200);
            var buffer = new byte[resizedImage.Size];
            await resizedImage.OpenReadStream().ReadAsync(buffer);
            var imageData = $"data:{format};base64,{Convert.ToBase64String(buffer)}";
            imagesList.Add(new Image { Data = imageData });
        }
    }

    void BackToChecking()
    {
        NavigationManager.NavigateTo($"/checking/new/{ProjectId}");
    }
}
