@page "/checkitem/{checkItemId:int}"
@inject ICheckItemServiceClient CheckItemService
@inject NavigationManager NavigationManager

<div style="display: flex; justify-content:space-between; margin-bottom: 5px">
    <MudText Typo="Typo.h5">Check Items - Details</MudText>
    <MudButton Variant="Variant.Outlined" Size="Size.Medium" Color="Color.Primary" @onclick="(() => BackToCheckItemList())">Back</MudButton>
</div>
<hr />

<MudForm @ref="form">
    <MudTextField T="string" Label="Title" Required="true" Variant="Variant.Filled" @bind-Value="checkItem.Title" />
    <MudTextField T=" string" Label="Category" Required="true" Variant="Variant.Filled" @bind-Value="checkItem.Category" />
    <MudSelect Dense="true" T="int" Label="Priority" Variant="Variant.Filled" AnchorOrigin="Origin.BottomCenter" @bind-Value="checkItem.Priority" Required="true">
        <MudSelectItem T="int" Value="1">1</MudSelectItem>
        <MudSelectItem T="int" Value="2">2</MudSelectItem>
        <MudSelectItem T="int" Value="3">3</MudSelectItem>
    </MudSelect>
    <div class="mt-2" style="display: flex; justify-content: space-between">
        <MudButton Variant="Variant.Filled" Size="Size.Medium" Color="Color.Success" @onclick="(() => HandleSubmit())">Update</MudButton>
        <MudButton Variant="Variant.Filled" Size="Size.Medium" Color="Color.Error" @onclick="(() => DeleteCheckItem())">Remove</MudButton>
    </div>
</MudForm>

@code {
    [Parameter]
    public int CheckItemId { get; set; }

    CheckItem checkItem = new();
    MudForm? form;

    protected async override Task OnParametersSetAsync()
    {
        checkItem = await CheckItemService.GetSingleCheckItem(CheckItemId);
    }

    async Task HandleSubmit()
    {
        await CheckItemService.UpdateCheckItem(checkItem);
        NavigationManager.NavigateTo("/checkitem-list");
    }

    async Task DeleteCheckItem()
    {
        await CheckItemService.DeleteCheckItem(checkItem.CheckItemId);
        NavigationManager.NavigateTo("/checkitem-list");
    }

    void BackToCheckItemList()
    {
        NavigationManager.NavigateTo("/checkitem-list");
    }
}
