@page "/project"
@page "/project/{id:int}"
@inject IProjectServiceClient ProjectService
@inject NavigationManager NavigationManager

<div style="display: flex; justify-content:space-between; margin-bottom: 5px">
    <MudText Typo="Typo.h5">@project.Number @project.Name</MudText>
    <MudButton Variant="Variant.Outlined" Size="Size.Medium" Color="Color.Primary" @onclick="(() => BackToProjectList())">Back</MudButton>
</div>
<hr />

<MudForm @ref="form">
    <MudTextField T="string" Label="Number" Required="true" Variant="Variant.Filled" @bind-Value="project.Number" />
    <MudTextField T=" string" Label="Name" Required="true" Variant="Variant.Filled" @bind-Value="project.Name" />
    <MudSelect Dense="true" T="int" Label="Priority" Variant="Variant.Filled" AnchorOrigin="Origin.BottomCenter" @bind-Value="project.CheckingPriority" Required="true">
        <MudSelectItem T="int" Value="1">1</MudSelectItem>
        <MudSelectItem T="int" Value="2">2</MudSelectItem>
        <MudSelectItem T="int" Value="3">3</MudSelectItem>
    </MudSelect>
    <div class="mt-2" style="display: flex; justify-content: space-between">
        <MudButton Variant="Variant.Filled" Size="Size.Medium" Color="Color.Success" @onclick="(() => HandleUpdate())">Update</MudButton>
        <MudButton Variant="Variant.Filled" Size="Size.Medium" Color="Color.Error" @onclick="(() => HandleDelete())">Remove</MudButton>
    </div>
</MudForm>

<br />

<MudTimeline TimelinePosition="TimelinePosition.Left" TimelineOrientation="TimelineOrientation.Vertical">
    <MudTimelineItem Size="Size.Small" Color="Color.Success" Elevation="4">
        <MudCard Outlined="false" Elevation="4" Style="width:25%">
            <MudCardContent>
                <MudText Typo="Typo.h6">Create</MudText>
                <MudText Typo="Typo.body2">@project.Create.ToString("dd/MMM/yyyy HH:MM")</MudText>
            </MudCardContent>
        </MudCard>
    </MudTimelineItem>
    @if (project.Update != null)
    {
            <MudTimelineItem Size="Size.Small" Color="Color.Info" Elevation="4">
                <MudCard Outlined="false" Elevation="4" Style="width:25%">
                    <MudCardContent>
                        <MudText Typo="Typo.h6">Update</MudText>
                    <MudText Typo="Typo.body2">@project.Update?.ToString("dd/MMM/yyyy HH:MM")</MudText>
                    </MudCardContent>
                </MudCard>
            </MudTimelineItem>
    }
</MudTimeline>
@code {
    [Parameter]
    public int Id { get; set; }

    Project project = new Project();
    MudForm? form;

    protected async override Task OnParametersSetAsync()
    {
        project = await ProjectService.GetSingleProject(Id);
    }

    async Task HandleUpdate()
    {
        await ProjectService.UpdateProject(project);
        NavigationManager.NavigateTo("/projects");
    }

    async Task HandleDelete()
    {
        await ProjectService.DeleteProject(project.ProjectId);
        NavigationManager.NavigateTo("/projects");
    }

    void BackToProjectList()
    {
        NavigationManager.NavigateTo("/projects");
    }
}
